<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bulletins</title>
</head>

<body>

<h1>Liste des Étudiants</h1>

<table border="1">

    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Groupe</th>
        <th>Action</th>
    </tr>

    <tr th:each="e : ${etudiants}">

        <td th:text="${e.nom}"></td>

        <td th:text="${e.prenom}"></td>

        <td th:text="${e.groupe}"></td>

        <td>
            <a th:href="@{/bulletin/{id}(id=${e.id})}">
                Voir Bulletin
            </a>
        </td>

    </tr>

</table>

</body>
</html>